.header-image {
    display: block;
    width: 1080px;
    text-align: center;
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}